/* =============================

    GENERAL STYLES

=============================*/

/* border-box model applied */
  * {
    box-sizing: border-box;
  }

/* Single-direction margin declaration to establish vertical rhythm. */
  h1,h2,h3,ul,p,img {
      margin-bottom: 1.5rem;
  }

/* background */

  body {
    background: url('assets/wedding-landing-background.png') repeat center;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.125rem;
    line-height: 1.5;
    color: #444349;
  }

/* sections' properties */
  .locations, .program, .gifts, .faq, .contact {
    width: 95%;
    margin: 1.5rem auto;
    padding: 0.5rem 1rem;
    text-align: center;
  }

/* typography */

  h1, h2 {
    font-family: 'Great Vibes', cursive;
  }

  h2 {
    font-size: 3rem;
  }

  
  h3 {
    font-size: 1.5rem;
  }

  p, .question, .answer {
    font: inherit;
    vertical-align: baseline;
  }

  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

/* links */
  
   a {
    text-decoration: none;
    color: #bd806e;
  }

  a:hover {
    color: #eda087;
    transition: color .15s ease-in-out;
  }

  
/* ===========================
           Header-cover
============================ */

.cover {
background: url('assets/wedding-landing-cover.jpg') no-repeat 70% center/cover;
height: 100vh;
width: 100%; /*100vw?*/
text-align: center;
display: table;
}

.wrapper {
display: table-cell;
vertical-align: middle;
padding: 0 .625rem;
}

.block {
  margin: 0 auto;
  padding: 0.625rem;
  color: hsla(0,0%,100%,.9);
  background: hsla(100,0%,0%,.5);
}

.goodnews {
  font-size: 1.25rem;
  letter-spacing: .15rem;
  }

h1 {
  font-size: 3.15rem;
  color: #d2ba87;
  margin-bottom: 0;
}

.date {
  font-size: 1.25rem;
  letter-spacing: .15rem;
  vertical-align: middle;
}

.goodnews::after {       /* line after .goodnews */
  display: block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 12.515625rem;
  margin: .5rem auto;
}

.date::before, /* lines around .date */
.date::after {
  display: inline-block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 1.5rem;
  vertical-align: middle;
  margin: 0 .5rem;
}

@media (min-width: 768px){  /* media queries for the header */
  
  .cover {
    background: url('assets/wedding-landing-cover.jpg') no-repeat center/cover;
  }
  
  h1 {
    font-size: 7rem;
  }
  
  .goodnews {
    text-transform: uppercase;
  }
  
  .block {
    padding: 1.25rem;
    border-radius: 4px;
    width: 50%;
  }

}

/* ===========================
           Locations
============================ */

.locations h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.threefacts div {
  font-family: 'Muli', sans-serif;
}

img {
  width: 7.5rem;
}  

.threefacts::after {       /* lines after images */
    content: "";
    display: block;
    height: 0.1875rem;
    width: 25vw;
    margin: 1.5rem auto;
    background-color: #444349;
}

@media (min-width: 768px){
  
  .locations h2 {
    margin-bottom: 0;
  }
  
  .threefacts {
    display: inline-block;
    width: 30%;
    padding: 1.5rem;
    margin: 0.5rem;
  }

  .threefacts::after {       /* no line after images */
    content: "";
    display: none;
  }

}

/* ===========================
           Program
============================ */

.program {
width: 100%;
text-align: left;
background: hsla(100,0%,0%,.6);
color: #d2ba87;
font-family: 'Muli', sans-serif;
}

.program h2 {
font-family: 'Great Vibes', cursive;
margin-top: 1rem;
text-align: center;
}

.program p {
font-style: italic; 
}

.program ul {
letter-spacing: .025rem;
}

@media (min-width: 768px) {

  .program-wrapper {
    width: 30vw;
    margin: 0 auto;
  }

}

/* ===========================
           Gifts
============================ */

.gifts p:last-child {
  margin-bottom: 0;
}

/* ===========================
           Faq
============================ */

.faq {
width: 100%;
text-align: left;
background: hsla(100,0%,0%,.6);
color: #d2ba87;
font-family: 'Muli', sans-serif;
}

.faq h2 {
  margin-top: 1rem;
}

.faq p {
  font-family: 'Muli', sans-serif;
  text-align: left;
}

.question {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.answer {
  margin-bottom: 1.5rem;
}

.qa::after {       /* line after question groups */
  content: "";
  display: block;
  height: 0.1875rem;
  width: 50vw;
  margin: 1.5rem auto;
  background-color: #d2ba87;
}

@media (min-width: 768px){
  
  .qa {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    padding: 1.5rem;
    margin: 0.5rem;
  }

  .qa::after {       /* no lines after parts */
    content: "";
    display: none;
  }

  .faq h2 {
    margin-top: 1rem;
    text-align: center;
  }

}

/* ===========================
           Footer
============================ */

footer {
  height: 10vh;
  width: 100%;
  background-color: #606060;
  color: #fff;
  font-family: 'Muli', sans-serif;
  display: table;
  text-align: center;
  font-size: .875rem;
}

.footer-wrapper {
  display: table-cell;
  vertical-align: middle;
}

footer small {
  line-height: 1.5;
}
      

@media (min-width: 768px){
  
  footer {
    min-height: 7vh;
  }

}