/* ==== GENERAL STYLES ==== */

* {
    box-sizing: border-box;
  }

/* Single-direction margin declaration to establish vertical rhythm. */
 h1,h2,h3,ul,p,img {
    margin-bottom: 1.5 rem;
}



.locations, .program, .gifts, .faq, .contact {
    width: 95%;
    margin: 1.5rem auto;
    padding: 0.5rem 1rem;
    text-align: center;
}

.faq {
    background: hsla(100,0%,0%,.6);
    color: #d2ba87;
    width: 100%;
    text-align: center;
}

a {
    text-decoration: none;
    color: #bd806e;
}